<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>
  <meta name="author" content="Peter Jihoon Kim" />
  <!--<link href="http://feeds.feedburner.com/raingrove" rel="alternate" title="Peter Jihoon Kim" type="application/atom+xml" />-->
  <link rel="stylesheet" href="/stylesheets/highlight.css" type="text/css" media="screen" />
</head>
<body>
  <header>
    <h3><a href="/">Peter Jihoon Kim&#39;s Blog</a></h3>
  </header>
  <p>Site is WIP...</p>
  <div class="container">
    {{ content }}
  </div>
  <footer>
    <ul>
      <li><a href="http://github.com/petejkim/">github.com/petejkim</a></li>
      <li><a href="http://twitter.com/raingrove/">twitter.com/raingrove</a></li>
    </ul>
    <div class="rss">
      <!--<a href="http://feeds.feedburner.com/raingrove">-->
        <!--<img src="/images/rss.png" alt="Subscribe to RSS Feed" />-->
      <!--</a>-->
    </div>
  </footer>
</body>
</html>

